.Display {
    background-image: url("https://wallpaperplay.com/walls/full/6/9/3/392962.jpg");
    position: relative;
    width: 82%;
    height: 38%;
    top: 4.5%;
    left: 8%;
    border: 1px solid brown;
    border-radius: 5%;
    background-size: cover;
}
.menu {
    width: 100%;
    opacity: 0.65;
    height: 98.5%;
    background-color: white;
    border-radius: 5%;
}

.menuTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.highlight {
    background-color: brown;
    color: white;
}
.albums, .songs, .artists, .settings, .all-songs, .top-charts, .song1, .song2, .song3{
    padding-left: 1em;
    margin: 0.2em 0;
}